.autocomplete-dropdown-container {
    position: absolute;
    z-index: 99;
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
}

.suggestion-item {
    border-radius: 0 0 2px 2px;
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.googleMaps {
    z-index: 1;
}
.suggestionsDropdown {
    z-index: 99;
    /* border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); */
    border-radius: 0 0 2px 2px;
}
.popUp{

    font-size: 10px;
}
.h1{
    font-size: 20px;
}